body{
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dancing Script', cursive;
    font-family: 'Fjalla One', sans-serif;
}
/* #main{
    margin-left: 90px;
} */
#navbar{
    background-color: rgba(255, 68, 0, 0.616);
    height: 40px;
    overflow: hidden;
    text-align: center;
    border-radius: 2px;
}
#navbar p{
    color: rgb(227, 165, 175);
    font-size: 30px;
    margin: auto;
}
.project{
    display: inline-flex;
    border: solid none;
    width: auto;
    background-color: rgb(222, 200, 172);
    margin: 15px;
    border-radius: 20px;
}
.project img{
	width: 200px;
    height: 150px;
	padding: 5px;
    /* Adding filter to the gallery */
	filter: grayscale(100%);
	transition: 1s;
    border-radius: 20px;
    padding: auto;
}

.project img:hover{
    filter: none;
}
.project p{
    text-align: center;
}

.proj_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.proj_content button{
    background-color: rgb(227, 138, 168);
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
}

.proj_content button:hover{
    background-color: green;
}



/* footer */
.footer{
    position: fixed;
    bottom: 0;
}
.footer ul li{
    list-style-type: none;
    display: inline-block;
}